#error-display
{
    width: 290px;
    margin: 50px auto;
    padding: 15px;
    background-color: var(--blurred-red);
    border: solid 1px var(--focused-red);
    border-radius: 0 20px 20px 20px;
    white-space: pre-wrap;

    h2
    {
        margin-top: 0;
    }
}