.comment-post
{
    .user-tag
    {
        box-shadow: inset 0 0 20px black;
        border: solid 3px white;
        border-bottom: none;
        border-radius: 0 20px 0 0;
        padding: 7px;
        background-color: var(--dark-theme-black);

        img
        {
            box-shadow: 0 0 0 3px white;
            background-color: white;
        }
    }
    .user-tag__username
    {
        margin-left: 5px;
        font-weight: bold;
    }
}

.comment-form
{
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    box-shadow: none !important;
}

#comment-body-textarea
{
    width: calc(100% - 10px);
    resize: vertical;
}

.comment-form__footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.comment-form__submit
{
    transition: all 0.1s;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 100px;
    height: 40px;
    padding: 10px;

    background-color: var(--blurred-blue);
    cursor: pointer;
    color: white;

    &:active
    {
        margin: 2px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        border: solid 1px var(--focused-blue);
        width: 96px;
        height: 36px;
        font-size: 0.85rem;
    }

    &:disabled
    {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        border: solid 1px grey;
        background-color: rgba(0, 0, 0, 0.1);
        color: grey;
    }
}