.comment-post
{
    .user-tag
    {
        box-shadow: inset 0 0 20px black;
        border: solid 3px white;
        border-bottom: none;
        border-radius: 0 20px 0 0;
        padding: 7px;
        background-color: var(--dark-theme-black);

        img
        {
            box-shadow: 0 0 0 3px white;
            background-color: white;
        }
    }
    .user-tag__username
    {
        margin-left: 5px;
        font-weight: bold;
    }
}

.comment-form
{
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    box-shadow: none !important;
}

#comment-body-textarea
{
    width: calc(100% - 10px);
    resize: vertical;
}

.comment-form__footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}