.comment-post
{
    .user-tag
    {
        padding: 7px;
        border: solid 3px white;
        border-radius: 0 20px 0 0;
        background-color: #242424;
        box-shadow: inset 0 0 20px black;

        img
        {
            background-color: white;
            box-shadow: 0 0 0 3px white;
        }
    }
    .user-tag__username
    {
        margin-left: 5px;
        font-weight: bold;
    }
}

.comment-form
{
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
}

#comment-body-textarea
{
    width: calc(100% - 10px);
    resize: vertical;
}

.comment-form__footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.comment-form__submit
{
    width: 100px;
    height: 40px;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #6060ff;
    color: white;
    cursor: pointer;
    transition: all 0.1s;

    &:active
    {
        width: 96px;
        height: 36px;
        margin: 2px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        border: solid 1px #320dff;
        font-size: 0.85rem;
    }

    &:disabled
    {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        border: solid 1px grey;
        background-color: rgba(0, 0, 0, 0.1);
        color: grey;
    }
}