.topic-list-item
{
    list-style-type: none;
}

.topic-card
{
    width: 290px !important;

    h3
    {
        margin-top: 0 !important;
    }

    span
    {
        word-wrap: break-word;
    }
}