.user-tag
{
    display: flex;
    width: fit-content;
    
    img
    {
        object-fit: cover;
        margin-right: 5px;
        border: solid 1px var(--dark-theme-black);
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }
    
    p
    {
        margin: -2px 0 0 0;
    }
}