.user-tag
{
    display: flex;
    width: fit-content;
    
    img
    {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        object-fit: cover;
        border: solid 1px #242424;
        border-radius: 50%;
    }
    
    p
    {
        margin: -2px 0 0 0;
    }
}