.user-tag
{
    display: flex;
    width: fit-content;
    
    img
    {
        object-fit: cover;
        margin-right: 5px;
        border: solid 1px var(--dark-theme-black);
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }
}

.user-tag__username--logged-in
{
    position: relative;
    font-weight: bold;
    color: white;

    &::before
    {
        content: attr(username);
        position: absolute;
        z-index: -1;
        left: 0;
        -webkit-text-stroke: 3px var(--dark-theme-black);
    }
}