.pages-nav
{
    padding: 0 10px !important;

    button
    {
        border: none;
        border-right: solid 2px var(--dark-theme-black);
        padding: 5px 10px;
        background: none;
        cursor: pointer;
        font-weight: bold;
        color: rgb(var(--blurred-blue-rgb));

        &:hover
        {
            color: rgb(var(--focused-blue-rgb));
        }
    }

    button:first-child
    {
        border-left: solid 2px var(--dark-theme-black);
    }
}