.base-card
{
    position: relative;
    margin: 10px auto;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.33), 0 0 10px 2px black, inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 0 21px 20px 20px;
    width: calc(100% - 30px);
    height: 100%;
    padding: 15px;

    background-color: white;
    text-align: left;
    color: var(--dark-theme-black);
    list-style-type: none;

    h3
    {
        margin: 25px 0 5px 0;
    }

    .user-tag
    {
        margin-bottom: 16px;
    }
}

.base-card--small
{
    width: 290px;
}

.base-card__footer
{
    display: flex;
    justify-content: space-between;
    align-items: end;

    .comment-count
    {
        position: relative;
        box-shadow: inset 0 0 10px black;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: var(--dark-theme-black);
        text-align: center;
        text-shadow:
            -1px -1px 2px black,  1px -1px 2px black,
             1px  1px 2px black, -1px  1px 2px black;
        color: white;

        b
        {
            position: absolute;
            top: 45%;
            transform: translate(-50%, -50%);
        }

        &::after
        {
            content: '';
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: -5px;
            transform: scaleX(1.25);
            border: solid 10px transparent;
            border-bottom-color: #161616;
            width: 0;
            height: 0;
        }
    }
}