#statistics
{
    display: grid;
    grid-template-columns: 80px 70px;
    grid-gap: 5px;
    box-shadow: none !important;
    width: 150px;
    
    span:nth-child(odd)
    {
        font-weight: bold;
        text-align: right;
    }
    span:nth-child(even)
    {
        text-align: left;
    }
}