@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;

    color: white;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
    margin: 0;
    display: flex;
    place-items: start center;
    min-width: 320px;
    min-height: 100vh;
}
h2
{
    margin-top: 30px;
    margin-bottom: 10px;
}
a
{
    color: #6060ff;
    text-decoration: inherit;
    &:hover { color: #320dff; }
}
button
{
    font-family: Urbanist;
    font-size: 0.9rem;
    font-weight: 500;
}

.card-base
{
    height: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.33), 0 0 10px 2px black, inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 0 21px 20px 20px;
    color: #242424;
    text-align: left;
    position: relative;

    h3
    {
        margin: 25px 0 5px 0;
    }

    .article-img-container
    {
        width: calc(100% + 30px);
        margin: -15px;
        border-radius: 10px 10px 0 0;
        position: relative;
        
        &::after
        {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 4px;
            left: 0;
            background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.8));
        }
        
        img
        {
            width: 100%;
            object-fit: contain;
            border-radius: 0 20px 0 0;
        }
    }
    .article-img-container__footer
    {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
        padding: 10px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        color: white;
    }
}

.circle-button
{
    width: 35px;
    height: 35px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #6060ff;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.1s;

    &:active
    {
        width: 31px;
        height: 31px;
        margin: 2px;
        border: solid 1px #320dff;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

.circle-button--delete
{
    background-color: rgb(255, 60, 60);

    &:active
    {
        border: solid 1px rgb(200, 0, 0);
    }

    &:disabled
    {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        border: solid 1px grey;
        background-color: rgba(0, 0, 0, 0.1);
        color: grey;
    }

    &::before,
    &::after
    {
        content: '';
        position: absolute;
        top: 1px;
        right: 12px;
        bottom: 1px;
        left: 12px;
        background-color: white;
        border-radius: 10px;
    }
    &::before
    {
        transform: rotate(-45deg);
    }
    &::after
    {
        transform: rotate(45deg);
    }
}

.home-button
{
    width: 47px;
    height: 47px;
    border: solid 3px white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: transparent;

    text-align: center;
    position: relative;
    cursor: pointer;


    &::before
    {
        content: '';
        position: absolute;
        top: 20px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background-color: white;
    }
    &::after
    {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        width: 0;
        height: 0;
        border: solid 15px transparent;
        border-bottom-color: white;
        transform: translateX(-50%);
    }
}

.unsuccessful
{
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 3px red;
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.2);
}
.successful
{
    background-color: rgba(0, 255, 0, 0.1);
    border: solid 3px green;
    box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.2);
}

.on-deletion
{
    animation: deletion 0.25s ease-in-out forwards;
}
@keyframes deletion
{
    100%
    {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0%);
    }
}