:root
{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color: white;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a
{
    color: #646cff;
    text-decoration: inherit;
}
a:hover
{
    color: #320dff;
}

body
{
    margin: 0;
    display: flex;
    place-items: start center;
    min-width: 320px;
    min-height: 100vh;
}

h1
{
    font-size: 3.2em;
    line-height: 1.1;
}

.card-base
{
    height: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.33), 0 0 10px 2px black, inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 0 21px 20px 20px;
    color: #242424;
    text-align: left;
    position: relative;

    h3
    {
        margin: 20px 0 5px 0;
    }

    .article-img-container
    {
        width: calc(100% + 30px);
        margin: -15px;
        border-radius: 10px 10px 0 0;
        position: relative;
        
        &::after
        {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 4px;
            left: 0;
            background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.8));
        }
        
        img
        {
            width: 100%;
            object-fit: contain;
            border-radius: 0 20px 0 0;
        }
    }
    .article-img-container__footer
    {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
        padding: 10px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        color: white;
    }
}

.unsuccessful
{
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 3px red;
}
.successful
{
    background-color: rgba(0, 255, 0, 0.1);
    border: solid 3px green;
}